<!-- RL: Record List View -->
<template name="record_list">
  <div class="container">
    <!-- Tab Head -->
    <div class="page-header">
      <ul class="nav nav-pills">
        <li class="active"><a href="#rl-records" data-toggle="tab">{{locale "med_records"}}</a></li>
        <li><a href="#rl-patients" data-toggle="tab">{{locale "patients"}}</a></li>

        <li class="pull-right"><a>
          <i class="icon ion-plus"></i>
          <span class="hidden-xs"> {{locale "add_record"}}</span>
        </a></li>
      </ul>
    </div>
    <!-- Tab Panes -->
    <div class="tab-content">
      <!-- Medical Records -->
      <div id="rl-records" class="tab-pane active fade in" >
        <h1>{{locale "med_records"}}</h1>
        <p class="text-muted lead">You can view, edit medical records here. Records are sorted using date.</p>
        <table class="table table-striped table-hover">
          <tbody>
            <tr>
              <th>Name (ID)</th>
              <th>Date</th>
              <th>Treatment</th>
              <th>Charge</th>
              <th>Memo</th>
            </tr>
            {{#each records}}
              <tr>
                <td>{{name}}</td>
                <td>{{formatDate date}}</td>
                <td>{{treatment}}</td>
                <td>{{charge}}</td>
                <td>{{memo}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        <hr>
        <ul class="pager">
          <li class="previous"><a href="#">&larr; Previous Page</a></li>
          <li class="next disabled"><a href="#">Next Page &rarr;</a></li>
        </ul>
      </div>
      <!-- Patiends -->
      <div id="rl-patients" class="tab-pane fade" >
        {{> wip panel="panel panel-info"}}
      </div>
    </div>
  </div>
</template>
